<ion-header>
    <ion-toolbar>
        <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back" class="back-icon" (click)="go_back()"></ion-icon>
        <ion-title>PROFILE UPDATE</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content justify-content="center">
    <ion-grid>
        <form [formGroup]="ProfileForm" (ngSubmit)="UpdateProfile(ProfileForm.controls)" >
        <!------------------- name group part ------------------------------>
        <ion-row class="group-title">
            <ion-col size="9" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-title-label">Name</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">First Name</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="first_name"  placeholder=""></ion-input>
                
            </ion-col>
            <div class="form_errors" *ngIf="ProfileForm.get('first_name').hasError('required')&&form_submit">
                First Name Is Required<ion-icon name="warning"></ion-icon>
            </div>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Last Name</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="last_name" oninput="handleLastNameValue(event)" placeholder=""></ion-input>
            </ion-col>
            <div class="form_errors" *ngIf="ProfileForm.get('last_name').hasError('required')&&form_submit">
                Last Name Is Required<ion-icon name="warning"></ion-icon>
            </div>
        </ion-row>
        <!------------------- name group part end ------------------------------>
        <!------------------- organization group part ------------------------------>
        <ion-row class="group-title" top-padding>
            <ion-col size="9" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-title-label">Organization</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Company Name</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="company_name"  placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        
        <!------------------- Organization group part end ------------------------------>
        <!------------------- address group part ------------------------------>
        <ion-row class="group-title">
            <ion-col size="9" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-title-label">Contact Address</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Address</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="address1" placeholder=""></ion-input>
            </ion-col>
            <div class="form_errors" *ngIf="ProfileForm.get('address1').hasError('required')&&form_submit">
                Address Is Required<ion-icon name="warning"></ion-icon>
            </div>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Address 2</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="address2" placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">City</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="city"  placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">State</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="state" placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Country</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="country" placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Zip Code</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="zip_code" placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Phone </ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="number" formControlName="phone" placeholder=""></ion-input>
            </ion-col>
            <div class="form_errors" *ngIf="ProfileForm.get('phone').hasError('required')&&form_submit">
                Phone Is Required<ion-icon name="warning"></ion-icon>
            </div>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Email </ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="email" formControlName="email" placeholder=""></ion-input>
            </ion-col>
            <div class="form_errors" *ngIf="ProfileForm.get('email').hasError('required')&&form_submit">
                Email Is Required<ion-icon name="warning"></ion-icon>
            </div>
        </ion-row>
        <!------------------- Contact group part end ------------------------------>
        <!------------------- Security Questions group part ------------------------------>
        <ion-row class="group-title">
            <ion-col size="9" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-title-label">Security Question and Answer</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="group-item"><!-- TODO: change questions to a select list and load from DB-->
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Question? </ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="question" placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="group-item">
            <ion-col size="5" text-left no-padding>
                <ion-row no-padding>
                    <ion-col no-padding>
                        <ion-label class="group-item-label">Answer?</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="7" text-right no-padding>
                <ion-input type="text" formControlName="answer" placeholder=""></ion-input>
            </ion-col>
        </ion-row>
        <!------------------- security questions group part end ------------------------------>

                <!------------------- Security Questions group part ------------------------------>
                <ion-row class="group-title">
                    <ion-col size="9" text-left no-padding>
                        <ion-row no-padding>
                            <ion-col no-padding>
                                <ion-label class="group-title-label">Password </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row class="group-item">
                    <ion-col size="5" text-left no-padding>
                        <ion-row no-padding>
                            <ion-col no-padding>
                                <ion-label class="group-item-label">New Password</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="7" text-right no-padding>
                        <ion-input type="password" formControlName="password" placeholder=""></ion-input>
                    </ion-col>
                    <div class="form_errors" *ngIf="password_error&&form_submit">
                        Password Should matched With Confirm Password<ion-icon name="warning"></ion-icon>
                    </div>
                </ion-row>
                <ion-row class="group-item">
                    <ion-col size="5" text-left no-padding>
                        <ion-row no-padding>
                            <ion-col no-padding>
                                <ion-label class="group-item-label">Confirm New Password</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="7" text-right no-padding>
                        <ion-input type="password" formControlName="confirm_pass" placeholder=""></ion-input>
                    </ion-col>
                </ion-row>
                <!------------------- password group part end ------------------------------>
        </form>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <ion-button color="danger" class="edit_btn" (click)="UpdateProfile(ProfileForm.controls);" >Submit</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>