<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <!-- <ion-header>
        <ion-toolbar>
            <ion-title>Welcome to This Page</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content padding>
        <div class="ion-padding">
            <p>{{ text }}</p>
            <ion-button (click)="onchangeText()">Change Text</ion-button>
            <ion-button routerLink="/welcome" routerDirection="root">Welcome To page</ion-button>
        </div>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-title>Footer</ion-title>
        </ion-toolbar>
    </ion-footer> -->
</ion-app>